<h1>Enter repository name</h1>
<% if (session[:user_is_admin] == true) %>
<%= form_for @repository do |f| %>
  <p>
    <%= f.label :repo_name %>
    <%= f.text_field :repo_name %>  
  </p>
  <p>
	<%= f.label :description %>
    <%= f.text_area :description, :size => "100x15" %>
  </p>
  <p class="button"><%= f.submit %></p>
<% end %>
<% end %>
