<p id="notice"><%= notice %></p>

<p>
  <b>Repository name:</b><br/>
  <%= @repository.repo_name %>
</p>
<p>
  <b>Description</b><br/>
  <%= @repository.description %>
</p>
<p>
  <b>Group:</b><br/>
  <% if (@x != nil) %>
  <%= @x.group_name %>
  <% end %>
</p>
<p>
  <b>Members:</b><br/>
  <% if @usr != nil %>
	   <% @usr.each do |f| %>
          <% (User.where("id = ?", f.user_id).select("email").all).each do |z|%>
          <%= z.email %>
   	      <br/>
   	      <% end %>
      <% end %>
   <% end %>
</p>
<p>
  <b>Hooks:</b><br/>
  <% @htr.each do |f| %>
  <%= f.hook_name %>
  <% if @hooksList.index(f.hook_name) != nil %>
    <%= link_to 'Show', showuserhook_hook_path(:hook_name => f.hook_name, :repo_name => @repository.repo_name) %>
    <%= link_to 'Edit', edituserhook_hook_path(:hook_name => f.hook_name, :repo_name => @repository.repo_name) %>
  <% else %>
    <%= link_to "Use", use_hook_path(:hook_name => f.hook_name, :repo_name => @repository.repo_name) %>
  <% end %>
  <br/>
  <% end %>  
</p>
<%= link_to 'Add hook', use_hook_path(@repository) %> 
<br/>
<%= link_to 'Edit', edit_repository_path(@repository) %> |
<%= link_to 'Back', repositories_path %>
