<p id="notice"><%= notice %></p>

<p>
  <b>Repository name:</b><br/>
  <%= @repository.repo_name %>
</p>
<p>
  <b>Description</b><br/>
  <%= @repository.description %>
</p>
<p>
  <b>Group:</b><br/>
  <%= @x.group_name %>
</p>
<p>
  <b>Members:</b><br/>
	<% @usr.each do |f| %>
       <% (User.where("id = ?", f.user_id).select("email").all).each do |z|%>
       <%= z.email %>
   	   <br/>
   	   <% end %>
   <% end %>
</p>
<p>
  <b>Hooks:</b><br/>
  <table>
  <% @htr.each do |f| %>
       <% (Hook.where("id = ?", f.hook_id).select("hook_name").all).each do |z|%>
       <tr>
    <td><%= z.hook_name %></td>
    <td><%= link_to 'Show', f %></td>
    <td><%= link_to 'Edit', edit_hook_path(f) %></td>
    <td><%= link_to 'Destroy', f, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
       <br/>
       <% end %>
   <% end %>
 </table>
</p>

<%= link_to 'Edit', edit_repository_path(@repository) %> |
<%= link_to 'Back', repositories_path %>
