<p id="notice"><%= notice %></p>

<p>
  <b>Repository name:</b><br/>
  <%= @repository.repo_name %>
</p>
<p>
  <b>Description</b><br/>
  <%= @repository.description %>
</p>
<p>
  <b>Group:</b><br/>
  <%= @x.group_name %>
</p>
<p>
  <b>Members:</b><br/>
	<% @usr.each do |f| %>
       <% (User.where("id = ?", f.user_id).select("email").all).each do |z|%>
       <%= z.email %>
   	   <br/>
   	   <% end %>
   <% end %>
</p>

<%= link_to 'Edit', edit_repository_path(@repository) %> |
<%= link_to 'Back', repositories_path %>
