<%= form_for(@grouptorepo) do |f| %>
  <% if @grouptorepo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@grouptorepo.errors.count, "error") %> prohibited this relation from being saved:</h2>

      <ul>
      <% @grouptorepo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :group_id %>
    <%= f.collection_select :group_id, Group.all, :id, :group_name %>  
  </div>
  <div class="field">
    <%= f.label :repository_id %>
    <%= f.collection_select :repository_id, Repository.all, :id, :repo_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
