<h1>Listing relations</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
  </tr>

<% @grouptorepos.each do |f| %>
  <tr>
    <td><%= f.id %></td>
    <td><%= link_to 'Show', f %></td>
    <td><%= link_to 'Edit', edit_grouptorepo_path(f) %></td>
    <td><%= link_to 'Destroy', f, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Relation', new_grouptorepo_path %>
