<h1>Adding group to repository</h1>
<% if (session[:user_is_admin] == true) %>
<%= form_for @grouptorepo do |f| %>
  <p>
	<%= f.label :repository_id %>
    <%= f.collection_select :repository_id, Repository.all, :id, :repo_name %>
  </p>
  <p>
    <%= f.label :group_id %>
    <%= f.collection_select :group_id, Group.all, :id, :group_name %>  
  </p>
  <table>
  <td>
	<%= f.label :r %>
    <%= f.check_box :r %>
  </td>
   <td>
	<%= f.label :w %>
    <%= f.check_box :w %>
  </td>
  </table>
  <p class="button"><%= f.submit %></p>
<% end %>
<% end %>
