<h1>GroupToRepo#new</h1>
<%= form_for @grouptorepo do |f| %>
  <p>
    <%= f.label :group_id %>
    <%= f.text_field :group_id %>  
  </p>
  <p>
	<%= f.label :repository_id %>
    <%= f.text_field :repository_id %>
  </p>
  <p>
	<%= f.label :r %>
    <%= f.check_box :r %>
  </p>
   <p>
	<%= f.label :w %>
    <%= f.check_box :w %>
  </p>
  <p class="button"><%= f.submit %></p>
<% end %>
