<p id="notice"><%= notice %></p>

<p>
  <b>Relation id:</b><br/>
  <%= @grouptorepo.id %>
</p>
<p>
	<% @group = Group.where("id = ?",@grouptorepo.group_id).first
       @repo = Repository.where("id = ?",@grouptorepo.repository_id).first
    %>
  <b>Group id:</b><br/>
  <%= @group.group_name %>
</p>
<p>
  <b>Repository id:</b><br/>
  <%= @repo.repo_name %>
</p>

<%= link_to 'Edit', edit_grouptorepo_path(@grouptorepo) %> |
<%= link_to 'Back', grouptorepos_path %>
