<p id="notice"><%= notice %></p>

<p>
  <b>Group name:</b><br/>
  <%= @group.group_name %>
</p>
<p>
  <b>Description</b><br/>
  <%= @group.description %>
</p>
<p>
  <b>Members:</b><br/>
  <% @gtr.each do |f| %>
       <% (User.where("id = ?", f.user_id).select("email").all).each do |z|%>
       <%= z.email %>
   	   <br/>
   	   <% end %>
   <% end %>
</p>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
