<h1>HookToRepo#new</h1>
<%= form_for @hooktorepo do |f| %>
  <p>
	<%= f.label :repository_id %>
    <%= f.collection_select :repository_id, Repository.all, :id, :repo_name %>
  </p>
  <p>
    <%= f.label :hook_id %>
    <%= f.collection_select :hook_id, Hook.all, :id, :hook_name %>  
  </p>
  <p class="button"><%= f.submit %></p>
<% end %>
