<p id="notice"><%= notice %></p>

<p>
  <b>Relation id:</b><br/>
  <%= @hooktorepo.id %>
</p>
<p>
  <b>Hook id:</b><br/>
  <%= @hooktorepo.hook_id %>
</p>
<p>
  <b>Repository id:</b><br/>
  <%= @hooktorepo.repository_id %>
</p>

<%= link_to 'Edit', edit_hooktorepo_path(@hooktorepo) %> |
<%= link_to 'Back', hooktorepos_path %>
