<h1>Hooks#edit</h1>
<%= form_for(@hook) do |f| %>
<div class="field">
  <%= f.label :hook_name %><br />
  <%= f.text_field :hook_name %>
</div>
<div class="field">
  <%= f.label :description %><br />
  <%= f.text_area :description, :size => "100x10" %>
</div>
<div class="field">
  <%= f.label :script %><br />
  <%= f.text_area :script, :size => "100x30" %>
</div>
<div class="actions">
  <%= f.submit %>
</div>
<% end %>
<p>Find me in app/views/hooks/edit.html.erb</p>
