<h1>Enter Hook template details</h1>
<% if (session[:user_is_admin] == true) %>
<%= form_for @hook do |f| %>
  <p>
    <%= f.label :hook_name %>
    <%= f.text_field :hook_name %>  
  </p>
  <p>
	<%= f.label :description %>
    <%= f.text_area :description, :size => "100x10" %>
  </p>
  <p>
	<%= f.label :script %>
	<%= f.text_area :script, :size => "100x20" %>
  </p>
  <p class="button"><%= f.submit %></p>
<% end %>
<% end %>
