<%= form_for(@repohook) do |f| %>
  <% if @repohook.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@repohook.errors.count, "error") %> prohibited this relation from being saved:</h2>

      <ul>
      <% @repohook.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :hook_name %><br />
    <%= f.text_field :hook_name %>
  </div>
  <div class="field">
    <%= f.label :repository_id %><br />
    <%= f.text_field :repository_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>