<h1>RepoHook#new</h1>
<%= form_for @repohook do |f| %>
  <p>
	<%= f.label :repository_id %>
    <%= f.collection_select :repository_id, Repository.all, :id, :repo_name %>
  </p>
  <p>
    <%= f.label :hook_name %>
    <%= f.text_field :hook_name %>
  </p>
  <p class="button"><%= f.submit %></p>
<% end %>
