<%= form_for(@usertogroup) do |f| %>
  <% if @usertogroup.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@usertogroup.errors.count, "error") %> prohibited this usertogroup from being saved:</h2>

      <ul>
      <% @usertogroup.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :group_id %>
    <%= f.collection_select :group_id, Group.all, :id, :group_name %>  
  </div>
  <div class="field">
    <%= f.label :user_id %>
    <%= f.collection_select :user_id, User.all, :id, :email %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
