<h1>Listing relations</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
  </tr>

<% @usertogroup.each do |f| %>
  <tr>
    <% @group = Group.where("id = ?",f.group_id).first
       @user = User.where("id = ?",f.user_id).first
    %>
    <td><%= @group.group_name %>
      <%= @user.email %>  
    </td>
    <td><%= link_to 'Show', f %></td>
    <td><%= link_to 'Edit', edit_usertogroup_path(f) %></td>
    <td><%= link_to 'Destroy', f, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Relation', new_usertogroup_path %>
