<!DOCTYPE html>
<html>
  <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
	<title>WebSvn</title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>

  </head>
  <body>
	<div class="header_bar">
	  <div class="header_logo">
	  </div>
	  <div class="header_login">
		<% if current_user %>
		Logged in as <%= current_user.email %>.
		<%= link_to "Log out", log_out_path %>
		<% else %>
		<%= link_to "Sign up", sign_up_path %> or
		<%= link_to "Log in", log_in_path %>
		<% end %>
	  </div>
	</div>	
	<div class="content">
	  <%= yield %>
	</div>
	<div class="footer">
	  <div class="footer_logo"></div>	 
	  <div class="footer_content">
		Powered by 
	  </div>
	</div>
  </body>
</html>
