<!DOCTYPE html>
<html>
  <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
	<title>WebSvn</title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>

  </head>
  <body>
	<div class="header">
	  <logo></logo>
	  <login>
		<% if current_user %>
		Logged in as <%= current_user.email %>.
		<%= link_to "Log out", log_out_path %>
		<% else %>
		<%= link_to "Sign up", sign_up_path %> or
		<%= link_to "Log in", log_in_path %>
		<% end %>
	  </login>
	</div>	
	<div class="content">
	  <nav>
		<div id='cssmenu'>
		  <ul>
			<li/>
			<% if (session[:user_is_admin] == true) %>
			<li><%= link_to "Home", root_path %></li>
			<% end %>
			<li class='has-sub'><%= link_to "Repository",
									repositories_path %>
			  <ul>
				<li><%= link_to "Create", new_repository_path %></li>
				<li><%= link_to "Asign group to repository", new_grouptorepo_path %></li>
			</ul>
			</li>
			<li class='has-sub'><%= link_to "Group",
									groups_path %>
			  <ul>
				<li><%= link_to "Create", new_group_path %></li>
				<li><%= link_to "Asign user to group", new_usertogroup_path %></li>
			  </ul>
			</li>
			<li class='has-sub'><%= link_to "User",
									users_path %>
			  <ul>
				<li><%= link_to "Create", new_user_path %></li>
			  </ul>
			</li>
			<li class='has-sub'><%= link_to "Hooks templates",
									hooks_path %>
			  <ul>
				<li><%= link_to "Create template", new_hook_path %></li>
			  </ul>
			</li>
			
			<li class="last"><%= link_to "About", root_path %></li>
		  </ul>
		</div>
	  </nav>
	  <sub>
		<main>
		  <%= yield %>
		</main>
		<aside>
		  
		</aside>
	  </sub>
	</div>
	<div class="footer">
	  <a id="poweredLogo" target="blank" href="http://rubyonrails.org/"></a>
	  <poweredText>
		Powered by 
	  </poweredText>
	</div>
  </body>
</html>
